
@import "'~@voiceofamerica/voa-shared/commonStyles/index";

.notificationSettings {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;

  .buttons {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 5px;
    padding-bottom: 5px;
    margin-bottom: $menu-height;

    .settingsButton {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: rgba($voa-blue, 0.2);
      margin-top: 5px;
      min-height: $menu-height;
      font-size: $menu-font-size;
      border: none;
      border-radius: 0;
      outline: none;
      padding: 0 7px;
    }
  }
}
