
@import "'~@voiceofamerica/voa-shared/commonStyles/index";

.liveStream {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .content {

    .liveStreamItem {

      .collapser {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: $light-grey;
        height: $menu-height;
        padding: 0 10px;
        border-bottom: 1px solid $border-grey;
        overflow: hidden;

        .programTime {
          padding-right: 15px;
          width: 5em;
          font-size: 0.8em;
        }

        .programTitle {
          flex: 1;
        }

        .collapserIconContainer {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }

        .collapserIcon {
          font-size: 2em;
          transition: transform 0.3s;
        }
      }

      .drawer {
        display: flex;
        background: white;
        height: 0;
        transition: height 0.3s;
        overflow-y: hidden;

        .drawerImage {
          flex: 2;
          display: flex;

          .imageIcon {
            color: white;
            font-size: 3em;
          }
        }

        .drawerContent {
          display: flex;
          flex-direction: column;
          flex: 5;

          .textContent {
            flex: 1;
            padding: 8px;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
          }

          .toggleContent {
            display: flex;
            flex-direction: row;
            padding: 6px;
            border-top: 1px solid $border-grey;
          }

          .toggleText {
            flex: 1;
            font-weight: bold;
            font-size: 18px;
          }

          .toggler {
            padding-top: 4px;
          }
        }
      }

      &.open {
        .drawer {
          height: 100px;
          border-bottom: 1px solid $border-grey;
        }

        .collapserIcon {
          transform: rotate(-180deg);
        }
      }
    }
  }

  .loadingText {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: flex-start;
    font-size: 10vw;
    padding-top: 100px;
    transition: color 0.3s;
  }
}
