
@import "'~@voiceofamerica/voa-shared/commonStyles/index";

.headingOnlyLayout {
  display: flex;
  flex-direction: column;
  flex: 1;

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: $menu-height;
  }
}
