
$primary-color: #333;
@import '~@voiceofamerica/voa-shared/commonStyles/index';
@import '~mdi/scss/materialdesignicons.scss';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html, body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

.pull-to-refresh {
  .content {
    padding-bottom: $menu-height;
  }
}