<!DOCTYPE html>
<html dir="rtl">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WWWWCQ5');
    </script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="cordova.js"></script>
  </head>
  <body style="margin: 0; padding: 0">
    <div id="app">
      <div style="height: 100%; background: url(./splash.png); background-position: center; background-size: cover;">
      </div>
    </div>
  </body>
</html>
