
@import "'~@voiceofamerica/voa-shared/commonStyles/index";

.categorySettings {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  overflow: scroll;
  user-select: none;
  padding: 0px 10px;
  
  .topNav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    color: black;
    background: $voa-light-grey;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    height: $menu-height;
    font-size: $menu-font-size;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .bottomNav {
    justify-content: flex-end;
  }

  .icon {
    font-size: calc(#{$menu-font-size} * 2);
    color: $mid-grey;
  }

  .pillContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    background: transparent;

    padding-top: 10px;
    padding-bottom: $menu-height;
    margin-top: $menu-height;
    margin-bottom: 10px;

    .pillOuter {
      padding: 5px;
  
      .pill {
        background: $voa-blue;
        color: white;
        padding: 3px;
        border-radius: 100px;
        text-align: center;

        &.dragged {
          background: $border-grey;
        }
      }
    }
  }

  .headlinesSubtitle {
    font-size: 14px;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .sectionHeader {
    border-top: 2px solid $light-grey;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .sectionName {
    font-size: 24px;
  }

  .sectionSubtitle {
    font-size: 14px;
  }
}
